@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1e1d2b;
  display:block;
}

section{
    display: inline-block;
    height: 100vh;
    width: 90vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  background-color: #1e1d2b;
  top: 0px;
  width: 100%;
  z-index: 3;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  font-weight: bold;
  font-size: xx-large;
  margin-left: 3rem;
  margin-top: 0.5rem;
  color: #ff702a;
  font-weight: 430;
}
.home{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}

.imgHome{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

h1.logo{
    font-weight: bold;
    font-size: 90px;
    color: #ff702a;
    font-weight: 400;
    box-sizing: content-box;
    width: fit-content;
    height: fit-content;
}
p.hText{
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.about{
  position: absolute;
  top: 150%;
  left: 70%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

div.about h4{
  margin-bottom: 20px;
  color: #ff702a;
}

div.about div h2{
  color: #fff;
  font-size: 50px;
  font-weight: 420;
} 

p.tAbout{
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}

.imgAbout{
  position: absolute;
  top: 150%;
  left: 30%;
  transform: translate(-50%, -50%);
}

div.about div a.Link{
  padding: 8px 18px 8px 18px;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color:#ff702a;
  text-decoration: none;
}

div.contMenu{
  position: relative;
  left: 55%;
  transform: translate(-50%, -50%);
  top: 40%
}

div.menu{
  width: 90vw;
  text-align: center;
  left: 5%;
  position: absolute;
  top: 215%;
}

div.menu h4{
  margin-bottom: 20px;
  color: #ff702a;
}

div.menu h2{
  color: #fff;
  font-size: 50px;
  font-weight: 420;
} 

div.modMenus{
  position:absolute;
  top: 250%;
  width: 90vw;
  text-align: center;
}

div.moduloimg{
  position: relative;
  width: 20vw;
  height: auto;
  background: #ffefe8;
  top: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 1.5%;
  padding: 1rem;
  border-radius: 5px;
}

div.contMenu2{
  position: relative;
  left: 55%;
  transform: translate(-50%, -50%);
  top: 30%
}

div.moduloimg2{
  position: relative;
  width: 20vw;
  height: auto;
  top: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 1.5%;
  padding: 1rem;
}

div.menu2{
  width: 90vw;
  text-align: center;
  left: 5%;
  position: absolute;
  top: 315%;
}

div.menu2 h4{
  margin-bottom: 20px;
  color: #ff702a;
  text-align: center;
}

div.menu2 h2{
  color: #fff;
  font-size: 50px;
  font-weight: 420;
  text-align: center;
} 

div.moduloimg.img1, div.moduloimg.img2, div.moduloimg.img3 {
  width: 20vw;
  left: auto;
  right: auto;
  padding-right: 0;
}

.imagenModMen{
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin: 0 auto;
}

.imagenModMen2{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 0 auto;
  width: 100%;
}

div.moduloimg2 div h3{
  color: #ff702a;
  font-size: 2rem;
  font-weight: 500;
}

div.moduloimg2 div p{
  margin-top: 2.5rem;
  color:#fff;
  font-size: 1.2rem;
  font-weight: 300;
}

div.moduloimg div h3{
  font-size: 30px;
}

div.moduloimg div p{
  font-size: 18px;
}
div.moduloimg div p.tModMen{
  padding-bottom: 0.7rem;
  font-size: 20px;
  color: #ff702a;
}

div.lMore{
  position: relative;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 80vh;
  background-color: #ffefe8;
  text-align: center  ;
}

div.lMore h2{
  position: relative;
  top: 30%;
  font-size: 80px;
  font-weight: 400;
}

div.lMore a{
  position: relative;
  top: 40%;
}

footer#Contact{
  width: 85%;
  position: relative;
  left: 55%;
  transform: translate(-50%, -50%);
}

.columnaFt {
  float: left;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom:  2.2rem;
}

.columnaFt h3 {
  font-size: 1.6rem;
  border-bottom: 1px solid #ff6b3d;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  color:#fff;
  font-weight: 600;
}

.columnaFt ul {
  list-style-type: none;
  padding: 0;
}

.columnaFt ul li {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 550;
}

.columnaFt a {
  color: white;
  text-decoration: none;
}

.columnaFt a:hover {
  color: #ff6b3d;
}

.logoRed {
  margin-top: 1rem;
}

.logoRed a {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}


a.Link{
    padding: 8px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    background-color:#ff702a;
    text-decoration: none;
}

a.Link2{
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color:#ff702a;
  text-decoration: none;
}

div.about div a.Link:hover{
  color: #ff702a;
    background-color: #fff;
}

a.Link:hover{
    color: #ff702a;
    background-color: #fff;
}

a.Link2:hover{
  color: #ff702a;
  background-color: #ffefe8;
  border-radius: 2px;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
  margin-right: 2rem;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0.5rem 0.7rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  color: #333;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}

/* It is ready */
/* Have a good time */
